@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
/*Grid*/
.charactersGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  margin: 2rem 0rem;
  row-gap: 1rem;
  column-gap: 1.2rem;
}

@media screen and (max-width: 414px) {
  .charactersGrid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 1rem;
  }
}
@media screen and (min-width: 415px) and (max-width: 1280px) {
  .charactersGrid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 1rem;
  }
}

/*Card*/
.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
}

/*Link*/
.link {
  color: greenyellow;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  transition: all 500ms;
  text-align: center;
}

.cardItem:hover > .link {
  text-decoration: underline;
  color: green;
}

/*card image*/
.image {
  border-radius: 50%;
}
