* {
  --padding-top: calc(clamp(1rem, 2vw, 1.5rem) + 4rem);
  --header-font: clamp(2rem, 2.5vw, 3rem);
  --paragraph-font: clamp(1rem, 2.5vw, 1.5rem);
  --modal-font: clamp(0.7rem, 1.9vw, 1.2rem);
}

#__next {
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.85) 0%),
    url("/background1_3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: transparent;
}

html {
  scrollbar-color: white black;
  scrollbar-width: thin;
}

/*Scrollbar styling */

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 1px solid white;
}

/*Number Field*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
