@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
#__next {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: transparent;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.925) 0%),
    url("/background1_3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scrollbar-color: white black;
  scrollbar-width: thin;
}

html {
  scrollbar-color: white black;
  scrollbar-width: thin;
}

.mainContainer {
  margin-top: calc(clamp(1rem, 2vw, 1.5rem) + 4rem);
  min-height: 100vh;
}

.header,
.castHeader {
  font-family: "Montserrat Alternates", sans-serif;
  color: greenyellow;
  text-align: center;
}

.link {
  color: lightblue;
}

/*Scrollbar styling */

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 1px solid white;
}

/*Number Field*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/*Loading Div*/
.loadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 3rem;
}

.errorDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 3rem;
  background-color: rgba(7, 0, 0, 0.815);
  border: 2px solid red;
}

.errorHeader {
  font-size: clamp(2rem, 1.5vw, 2.5rem);
  color: red;
  font-family: "Roboto", sans-serif;
}

.errorMessages {
  font-size: clamp(1.5rem, 1vw, 2rem);
  margin: 0.5rem;
  text-align: center;
  color: red;
  font-family: "Roboto", sans-serif;
}

/*Spinner*/
.spinner {
  width: 7rem;
  height: 7rem;
  color: greenyellow;
}

@media screen and (max-width: 360px) {
  .loadingDiv,
  .errorDiv {
    height: 400px;
  }
}

@media screen and (min-width: 361px) and (max-width: 375px) {
  .loadingDiv,
  .errorDiv {
    height: 350px;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  .loadingDiv,
  .errorDiv {
    height: 350px;
  }
}

/*Table*/
.table {
  margin-top: 1rem;
}

/*Index Page*/
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  font-family: "Creepster", cursive;
  color: greenyellow;
  text-shadow: -3px 0 green, 0 3px green, 3px 0 green, 0 -3px green;
  text-align: center;
  margin-top: 0.5rem;
}

.header > h1 {
  font-size: 5rem;
  margin-bottom: 0;
}

@media screen and (max-width: 414px) {
  .header > h1 {
    font-size: 3rem;
  }
}
