@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.header {
  font-family: "Creepster", cursive;
  color: greenyellow;
  text-shadow: -3px 0 green, 0 3px green, 3px 0 green, 0 -3px green;
  text-align: center;
  margin-top: 1rem;
}

.header > h1 {
  font-size: 5rem;
  margin-bottom: 0;
}

.projectHeader {
  display: flex;
  justify-content: center;
  font-size: var(--header-font);
  font-family: "Esteban", serif;
  color: white;
}

.projectHeaderRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 414px) {
  .header > h1 {
    font-size: 3rem;
  }
}
