.pagination {
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  color: greenyellow;
}

.paginationControlDiv {
  display: flex;
  margin: 0 0.5rem;
  align-items: center;
}

.paginationButtons {
  cursor: pointer;
  transition: color 500ms;
}

.pageInput {
  width: 60px;
  height: 25px;
  text-align: center;
  margin: 0 0.25rem;
  padding: 0;
}

.pageInput,
.is-invalid {
  background-image: none !important;
  padding: 0 !important;
}

.pageOptions {
  display: flex;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
}
