.projectPage {
  padding-top: var(--padding-top);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.projectHeader {
  display: flex;
  justify-content: center;
  font-size: var(--header-font);
  font-family: "Esteban", serif;
  color: white;
}

.projectHeaderRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
